* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #D5E1EF;
    font-family: "Outfit";
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 2rem;
    height: 50rem;
    width: 32rem;
    background-color: #FFFFFF;
}

.qr__content {
    max-height: 28.8rem;
    max-width: 28.8rem;
    margin: 1.5rem;
    margin-top: -2rem;
}
.qr__content img{
    border-radius: 1rem;
    height: 100%;
    width: 100%;

}

.text__container {
    text-align: center;
    width: 28rem;
    display: flex;
    margin: 1rem 1.6rem;
    flex-direction: column;
    gap: 1rem;
    word-break: normal;

}

.text__container h1{
    color: #203049;
    font-size: 2.2rem;
}

.text__container p{
    font-size: 1.5rem;
    color: #97989D;
}

